
<h1>1. Savol 2 * 1 = ?</h1>

<img style="width: 100px; height: 120px;" src="/img/choose.png"/>
<br />

@{
    int i = 1;
    for (i = 1; i <= 6; i++)
    {
        <a href="#">Variant @i</a> <br />       
    }
}

